openai
langchain_community
langchain
langchain-openai
numpy
unstructured
openpyxl
hnswlib
langchain
langchain_openai
chromadb 
langchainhub
networkx
html2text
pandas
Chroma
chromadb
streamlit
streamlit_chat